body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  color: #ddd;
  background-color: #2b2828;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
}

#list-container {
  list-style-type: none;
  list-style-position: outside;
  padding: 0;
}

#list-container li {
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 10px;
  font-weight: 400;
}

li:hover {
  color: #fff;;
}

#list-container li::before{
  content: "\25B6";
  margin-right: 10px;
  text-decoration: none;
}

#music-container {
  text-align: center;
  margin: 40px 0 0;
}

#audio-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.top-grid {
  display: flex;
  justify-content: space-evenly;
}

.user-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#clients-container {
  list-style: none;
  padding: 0;
}

#clients-container li {
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 10px;
  font-weight: 400;
}

#clients-container li::before{
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  -moz-border-radius: 7.5px;
  -webkit-border-radius: 7.5px;
  border-radius: 7.5px;
  background-color: #33ce48;
  margin-right: 10px;
  text-decoration: none;
}

.user-img {
  background-image: url("./user.png");
  width: 50px;
  height: 50px;
  background-size: contain;
  filter: invert(0.9);
  margin-right: 15px;
}

#user {
  font-size: 1.2rem;
  font-weight: 700;
}